nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 20%;
  margin: 2.5% auto 0 auto;
  height: 10%;
  width: 100%;
  transition: all 0.5s;
  z-index: 10;
}
nav.scrollOffset {
  top: 0;
  margin: 0 auto;
  height: 8%;
  background-color: #555;
}
@media only screen and (max-width: 500px) {
  nav {
    top: 0;
    margin: 0;
    width: 100%;
  }
}
