/* Variables */
.navigation {
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  border: none;
  border-right: 1px solid #444;
  background-color: #555;
  text-decoration: none;
}
.navigation p,
.navigation img {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.navigation p {
  color: #888;
  text-align: center;
}
.navigation img {
  height: 50px;
  width: 50px;
}
.navigation.current {
  margin-top: -7px;
  background-color: #353535;
  border-bottom: 7px solid #ff8800;
}
.navigation.current p {
  color: #ff8800;
}
