.navigation {
  -webkit-tap-highlight-color: transparent;
  width: 22%;
  height: 82px;
  border: none;
  /*img {
    display: block;
    margin: 1em auto;
    width: 50%;
    height: 50%;
  }*/
}
.navigation .navigation.current {
  margin-top: -7px;
  margin-bottom: -7px;
  background-color: #56a95a;
  border-bottom: 7px solid #eee;
}
.navigation p {
  color: #fff;
  text-decoration: none;
}
