.navigation {
  -webkit-tap-highlight-color: transparent;

  height: 100%;
  width: 100%;

  border: none;

  background-color: #555;
  text-decoration: none;

  p {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    color: #888;
    text-align: center;
  }
}

.navigation.current {
  /*
  background-color: #56a95a;
  */

  margin-top: -7px;
  margin-bottom: -7px;

  background-color: #353535;
  border-bottom: 7px solid #ff8800;

  p {
    color: #ff8800;
  }
}
