/* Variables */
@border-height: 7px;

.navigation {
  -webkit-tap-highlight-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;

  border: none;
  border-right: 1px solid #444;

  color: #888;
  background-color: #555;
  text-decoration: none;
  text-align: center;

  transition: all 0.5s;

  img {
    height: 50%;
    width: 50%;
  }
}

.navigation:hover {
  background-color: #656565;
}

.navigation.current {
  margin-top: -@border-height;

  color: #ff8800;
  background-color: #353535;
  border-bottom: @border-height solid #ff8800;
}
