body {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;

  #root {
    nav {
      height: 75px;
      background-color: #353535;
    }

    main {
      height: 500px;
      margin: 50px;
      background-color: #eee;
    }
  }
}
