#softwareScreen {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}
#softwareScreen .container {
  width: 100%;
  height: 400px;
  margin: 5% 0;
}
#softwareScreen .container.white {
  background-color: #fff;
}
#softwareScreen .container.grey {
  background-color: #353535;
}
#softwareScreen .box {
  width: 100%;
  height: 100%;
}
#softwareScreen .box span {
  color: #353535;
  font-weight: bold;
  font-size: 20px;
}
