#registration {
  height: 100%;
  width: 100%;
}
#registration form {
  position: absolute;
  box-sizing: border-box;
  padding: auto;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 90%;
  width: 50%;
  text-align: center;
}
#registration form button {
  margin: 5%;
  height: 50px;
  width: 200px;
  font-weight: bold;
}
#registration form button:hover {
  cursor: pointer;
  background-color: #151515;
}
#registration form #register {
  background-color: #44cc44;
}
#registration form #register:hover {
  background-color: #55dd55;
}
#registration form #back {
  background-color: #cc4444;
}
#registration form #back:hover {
  background-color: #dd5555;
}
#registration form .input {
  display: flex;
  flex-direction: column;
  padding: 5% 0;
}
#registration form .input input {
  padding: 2.5% 5%;
  background-color: #222;
  color: #00ff33;
}
#registration form .input input::placeholder {
  color: #444;
}
#registration form .input input:hover {
  background-color: #252525;
}
