#root main {
  overflow-y: auto;
  position: fixed;
  top: 15%;
  height: 100%;
  width: 100%;
  transition: all 0.5s;
  z-index: 1;
}
#root main.scrollOffset {
  top: 5%;
}
#root #bg {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: url('../../../img/pattern.png');
  background-position: center;
  background-repeat: repeat;
  background-size: 10%;
}
/* Responsive media query, optimized for iPhone Plus/Samsung + Size */
@media only screen and (max-width: 500px) {
  #root #bg {
    display: none;
  }
}
