#root main {
  overflow-y: auto;
  position: fixed;
  top: 15%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-sizing: border-box;
  padding: 0 10% 2.2em 10%;
  height: 100%;
  width: 100%;
  transition: all 0.5s;
  z-index: 1;
}
#root main footer {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: #353535;
  text-align: center;
  z-index: 1;
}
#root main footer .box {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  margin: 3% 0;
  color: #fff;
}
#root main footer .box p {
  text-align: center;
  right: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
}
#root main footer .box .contacts,
#root main footer .box .images,
#root main footer .box .languages {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#root main footer .box .contacts a {
  padding-left: 5px;
  color: #ff8800;
}
#root main footer .box .languages img {
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
}
#root main footer .box .languages img:hover {
  border-color: #fff;
}
#root main footer .box img {
  margin: 5px;
  height: 1.5rem;
}
#root main footer .box img:hover {
  cursor: pointer;
}
#root main footer hr {
  margin: 3% 0;
  border: 0.05em solid #444;
}
#root main.scrollOffset {
  top: 5%;
}
#root #bg {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: url('../../../img/pattern.png');
  background-position: center;
  background-repeat: repeat;
  background-size: 10%;
}
/* Responsive media query, optimized for iPhone Plus/Samsung + Size */
@media only screen and (max-width: 500px) {
  #root main {
    top: 10%;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}
