.listCard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: fit-content;
  width: 100%;
  transition: all 0.5s;
}
.listCard .title {
  display: flex;
  height: 50px;
  width: 100%;
  background-color: #353535;
  z-index: 1;
}
.listCard .title p {
  margin: auto;
  width: 100%;
  text-align: center;
  font-family: Cornerstone;
  font-size: 28px;
}
.listCard .title div {
  height: 100%;
  width: 20%;
  background-color: #444;
  transition: all 0.25s;
}
.listCard .title div img {
  display: block;
  position: relative;
  box-sizing: border-box;
  top: 25%;
  margin: auto;
  height: 50%;
  width: 50%;
  transform: rotateZ(90deg);
  transition: all 0.5s;
}
.listCard .title div:hover {
  cursor: pointer;
  color: #ff8800;
  background-color: #555;
}
.listCard .content ul {
  overflow: hidden;
  position: relative;
  max-height: 0;
  background-color: #151515;
  transition: all 0.75s;
  z-index: 0;
}
.listCard .content ul li {
  padding: 2.5%;
  color: #fff;
  background-color: #333;
}
.listCard .content ul .entry {
  background-color: #151515;
}
.listCard .content ul .entry:hover {
  cursor: pointer;
  color: #00ff33;
  background-color: #222;
}
.listCard .content ul .proficiency.basic {
  background-color: #ff4444;
}
.listCard .content ul .proficiency.experienced {
  background-color: #ff8800;
}
.listCard .content ul .proficiency.advanced {
  background-color: #3ccc3c;
}
.listCard.selected .title div img {
  transform: rotateZ(270deg);
}
.listCard.selected .content ul {
  max-height: 800px;
}
