.thumbnail {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}
.thumbnail .image {
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.thumbnail .image img {
  max-height: 200%;
  max-width: 200%;
}
.thumbnail .information {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
}
.thumbnail .information .text {
  height: 100%;
  background-color: #fff;
}
.thumbnail .information .text .title,
.thumbnail .information .text .content {
  color: #353535;
}
.thumbnail .information .text .title {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 20px;
}
.thumbnail .information .linker {
  height: 20%;
  text-align: center;
  font-family: Cornerstone;
  background-color: #353535;
}
