#homeScreen {
  .container {
    height: 400px;
  }

  .container:nth-child(even) {
    color: #fff;
    background-color: #353535;
  }

  .container:nth-child(odd) {
    background-color: #fff;
  }
}
